<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <div class="menu">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/works">works</a>
        <a href="/gallery">gallery</a>
    </div>
    <div class="content">
        <h1>ABOUT</h1>
        <div class="cols">
            <img src="/images/sponge1.png" alt="" height="300px" class="img1">
            <p>
                SpongeBob SquarePants (also simply referred to as SpongeBob) is an American animated comedy television series created by
                marine science educator and animator Stephen Hillenburg for Nickelodeon. The series chronicles the adventures and
                endeavors of the title character and his aquatic friends in the fictional underwater city of Bikini Bottom. The
                fifth-longest-running American animated series, its popularity has made it a media franchise. It is the highest rated
                series to air on Nickelodeon and it is the most distributed property from ViacomCBS Networks International. The media
                franchise has generated more than $13 billion in merchandising revenue for Nickelodeon.[4][needs update]
        
            </p>
        </div>
    </div>

</body>

</html>