<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <div class="menu">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/works">works</a>
        <a href="/gallery">gallery</a>
    </div>
    <h1>WORKS</h1>
</body>

</html>