h1{
    color: orangered;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    padding-left: 24px;


}

body{
    padding: 0px;
    margin: 0px;
    background-image: url("/images/bb.jpeg");
      /* height: 500px; You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  bottom: 0px
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: cornsilk;
    padding: 20px;
    
}
.menu > a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: chocolate;
}

.cols{
    display: flex;
    justify-content: space-between;
}
.cols p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 30%;
    padding-right: 40px;
    color: rgb(7, 27, 48);
}